<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<div class="w3-container">
<div class="w3-bar w3-black">
  <a href="/" class="w3-bar-item w3-button w3-mobile">Home</a>
  <a href="/1" class="w3-bar-item w3-button w3-mobile">Погода</a>
  <a href="/2" class="w3-bar-item w3-button w3-mobile">Курс валюты</a>
  <a href="/3" class="w3-bar-item w3-button w3-mobile">Зависимость курса валюты от погоды</a>
</div>
</div>
<body>
<p>{{ name }} в Багдаде - {{ weather }} С</p>
</body>
</html>